# Database
DATABASE_URL=dummy

# NextAuth.js
NEXTAUTH_URL=dummy
NEXTAUTH_SECRET=dummy

# Google auth 
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy

# WebSocket Server (ws or wss depending on if you have certificate)
NEXT_PUBLIC_WEB_SOCKET_URL=dummy

# Node Environment
NODE_ENV=development

# Server Configuration
PORT=3000
WS_PORT=8080

# SSL Certificates (optional - for HTTPS WebSocket server)
# Provide full certificate content as single line (use \n for line breaks)
SSL_CERT=dummy
SSL_KEY=dummy
