[build]
builder = "NIXPACKS"
buildCommand = "cd apps/ws && npm run build"

[deploy]
startCommand = "cd apps/ws && node dist/index.js"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

